version: "3"
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: dbpass
      POSTGRES_USER: dbuser
      POSTGRES_DB: demodb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    image: my-node-app
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: dbuser
      DATABASE_PASSWORD: dbpass
      DATABASE_NAME: demodb
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  pgdata:
